h1{
  padding-left: 1%;
  font-family: 'Slabo 27px', serif;
}
h2{
  text-align: center;
}
.n{
  margin-left: 30%;
}
p{
  text-align: left;
  font-size: 1.4em;
}
#head{
  background-color:pink;
  margin-top:1%;
  border-radius: 3px 3px 3px 3px;
}
input{
  margin-left: 15%;
  margin-top: 1%;
}
.form-control{
  width: 50%;
}
.btn{
  height: 10%;
  background-color:orange;
  margin-top:1%;
  margin-left: 1%;
}
::placeholder{
  font-family: 'Courgette', cursive;
}
ul{
  margin-top: 40px;
}
li{
  text-decoration: none;
}
.intro{
  border:1px solid grey;
  border-radius: 6px 6px 6px 6px;
  width: 9%;
  padding:3px;
  background-color: orange;
}
.instruct{
  border:1px solid grey;
  border-radius: 6px 6px 6px 6px;
  width: 9%;
  padding:3px;
  background-color: orange;
  margin-top:10px;
}
.introduction{
  border:1px solid grey;
  border-radius: 6px 6px 6px 6px;
  background-color: pink;
  width: 80%;
  padding: 10px;
  float: right;
  margin-top:-100px;
}
#img img{
  border-radius:70%;
  margin-left: 100px;
}
.instruction{
  border:1px solid grey;
  border-radius: 6px 6px 6px 6px;
  background-color: pink;
  width: 80%;
  padding: 10px;
  float: right;
  margin-top: 30px;
}
.t{
  margin-left: 40%;
  padding-bottom: 10px;
}
.p{
  padding:20px;
}
#btn{
  margin-left: 50%;
}
#user{
  float: right;
  width:90%;
}
